body {
  display: flex;
  flex-direction: column;
  font-family: Arial;
  min-height: 100vh;
  color:white;
  background-color: black;
}

header {
  /* header styles */
}

main {
  flex: 1;
  padding: 20px;
}

footer {
  /* footer styles */
}

img {
  width: 100%;
  height: auto;
}

/* ---- SMALL SCREEN ---- */
@media (max-width: 768px) {
  /* one column */
  .grid-container {
    display: grid;
    grid-template-columns: auto;
  }
}

/* ---- LARGE SCREEN --------- */

@media (min-width: 769px) {
  /* three columns */
  .grid-container {
    display: grid;
    grid-template-columns: auto auto auto auto;
  }
}

/* -------------------  LARGE SCREENS  -------------- */
/*
/*@media (min-width: 1824px) {
/*  /* use mobile */
/*}
