body {
  display: flex;
  flex-direction: column;
  font-family: Helvetica;
  min-height: 100vh;
  color:white;
  background-color: black;
}

header {
  /* header styles */
}

main {
  padding: 20px;
}

footer {
  /* footer styles */
}

img {
  width: 100%;
  height: auto;
}

.navbar {
  height: 50px;
  background-image: linear-gradient(rgb(0, 0, 61), black);
  color: white;
  align-items: ;
}

/* ---- GRID ALL SIZES ---- */
.grid-item {
  background-color: #2196F3;
  text-align: center;
  font-size: 30px;
  border-radius: 10px;
  border-bottom-width: 10px;
}

/* ---- SMALL SCREEN ---- */
@media (min-width: 400px) {
  /* one column */

  .grid-container {
    display: grid;
    grid-template-areas: '.';
    gap: 25px 10px;
    padding: 10px;
    background-color: #151c21;
    border: 10px;
  }
}

/* ---- MEDIUM SCREEN --------- */

@media (min-width: 1200px) {
  /* three columns */
  .grid-container {
    display: grid;
    grid-template-areas: '. .';
    gap: 10px 10px;
    padding: 20px;
    background-color: #151c21;
    border: 10px;
  }
}

@media (min-width: 1500px) {
  /* three columns */
  .grid-container {
    display: grid;
    grid-template-areas: '. . .';
    gap: 10px 10px;
    padding: 25px;
    background-color: #151c21;
    border: 10px;
  }
}
