body {
  margin: 0;
  display: flex;
  flex-direction: column;
  font-family: Helvetica;
  min-height: 100vh;
  color:white;
  background-color: black;
}

header {
  /* header styles */
}

main {
  padding: 20px;
}

footer {
  /* footer styles */
}

img {
  width: 90%;
  height: 90%;
}

td {
  border: 1px;
  text-align: left;
}

.navbar {
  background-image: linear-gradient(rgb(0, 0, 61), black);
}

.navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-image: linear-gradient(rgb(0, 0, 61), black);
  position: fixed;
  top: 0;
  width: 100%;
}

.navbar li a {
  display: block;
  color: rgb(210, 208, 255);
  text-align: center;
  padding: 5x 16px;
  text-decoration: none;
}

.navbar li {
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* ---- GRID ALL SIZES ---- */
.grid-item {
  background-color: #001526;
  text-align: center;
  padding: 10px;
  font-size: 16px;
  border-radius: 10px;
  border-bottom-width: 10px;
  justify-content: space-evenly;
  justify-items: center;
  align-content: space-evenly;
  align-items: center;
}

/* ---- GRID ALL SIZES ---- */
.grid-containter {
  display: grid;
  padding-top: 100px;
  background-color: #151c21;
  border: 10px;
}

/* ---- SMALL SCREEN ---- */
@media (min-width: 400px) {
  /* one column */

  .grid-container {
    display: grid;
    grid-template-areas: '.';
    gap: 25px 10px;
    padding: 10px;
  }
}

/* ---- MEDIUM SCREEN --------- */

@media (min-width: 1200px) {
  /* three columns */
  .grid-container {
    display: grid;
    grid-template-areas: '. .';
    gap: 10px 10px;
    padding: 20px;
  }
}

@media (min-width: 1500px) {
  /* three columns */
  .grid-container {
    display: grid;
    grid-template-areas: '. . .';
    gap: 10px 10px;
    padding: 25px;
  }
}
